.mainUpperArea {
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 1000px;
  margin-bottom: 3px;
}

.databaseArea {
  border-style: solid;
  border-width: thin;
  border-color: blue;
  width: 70%;
}

.playListArea {
  border-style: solid;
  border-width: thin;
  border-color: blue;
  width: 30%;
  margin-left: 3px;
}

.playerArea {
  /*border-style: solid;
  border-width: thin;
  border-color: blue;*/
  width: 1000px;
  height: 150px;
  display: flex;
}
